* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding: 2em;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: left;

}

.join {
    flex-direction: column;
}

h1 {
    font-size: xx-large;
    color: hsl(204, 43%, 93%);
    margin-right: .25em;
}

h2 {
    font-size: medium;
    padding: 1.5em 0;

}

.blueheader {
    color: hsl(179, 62%, 43%)
}

h4 {
    font-size: small;
    font-weight: bold;
    color: hsl(71, 73%, 54%);
    padding: 1em 0;
}

p {
    font-size: x-small;
    font-weight: 575;
    color: hsl(218, 22%, 67%);
    margin-top: .75em;
}

.boldwhite {
    color: hsl(204, 43%, 93%);
    padding: 0;

}

.littlebox {
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;


}


.fade {
    color: hsl(204, 43%, 83%)
}

.whiteheader {
    color: hsl(204, 43%, 93%)
}

.signup {
    background-color: hsl(179, 62%, 43%);
    flex-direction: column;
}

button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: hsl(204, 43%, 93%);
    padding: .5em;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 1em;
    box-shadow: 0 0 4px rgba(228, 220, 220, 0.466);

}

button:hover {
    background-color: hsl(71, 95%, 32%);
    color: hsl(206, 24%, 41%);
    box-shadow: 0 0 4px hsl(206, 24%, 41%);
}

ul {
    list-style: none;
    color: hsl(204, 43%, 93%);
}

.whyus {
    background-color: hsl(179, 60%, 50%);
    flex-direction: column;
}





@media only screen and (min-width: 500px) {

    .signup,
    .whyus {
        width: 50%;
    }
}